
<body>
  <div class="container">
    <div class="col-12">
      <br>
            <!-- <div>
        <v-container fluid class="dashboard-page">
          <strong><h3 class="text-center">BUSCAR LIGAS</h3></strong>
          <v-text class="text-xs-center">{{this.informacion}}</v-text>
        </v-container>
      </div> -->
      <div id="app">
        {{ info }}
      </div>
      <!-- <v-col cols="12"
      sm="3">
        <v-text-field
        v-model="text"
        :rules="rules"
        counter="25"
        hint="Nombre liga"
        label="Ingrese nombre de liga"
      ></v-text-field>

      <button class="btn btn-info" v-on:click="buscarLiga(text)">BUSCAR</button>
      </v-col>
    
      <br>
      <br>
      <div class="container">
       

        <v-data-table :headers="headers_tabla" :items="datoLigas" v-for:>
         <template v-slot:item.action="{ item }">
          <button class="btn btn-success" v-on:click="buscarLiga(text)">AGREGARME</button>
        </template>
        </v-data-table>
      </div> -->
    </div>
  </div><br>
</body>
